
Minimum system requirements
---------------------------

The following are the minimum system requirements to run OEI:

.. list-table::
   :header-rows: 1

   * - System Requirement
     - Details
   * - Processor
     - 8th generation Intel® CoreTM processor onwards with Intel® HD Graphics or Intel® Xeon® processor
   * - RAM
     - Minimum 16 GB
   * - Hard drive
     - Minimum 256 GB
   * - Operating system
     - Ubuntu 18.04 or Ubuntu 20.04


.. note:: 


   * To use OEI, ensure that you are connected to the internet.
   * The recommended RAM capacity for video analytics pipeline is 16 GB. The recommended RAM for time series analytics pipeline is 4 GB with Intel® Atom processors.
   * OEI is validated on Ubuntu 18.04 and Ubuntu 20.04 but you can install OEI stack on other Linux distributions with support for docker-ce and docker-compose tools.

